{% extends "base.html" %}

{% block title %}Change your password{% endblock %}

{% block content %}
        <div class="container">
        <div class="row">
                <div class="col-sm-12 col-sm-offset-2">
                    <form class="form-horizontal" action="." method="post">
                        <h1>Change Your Password</h1>
                        <h3>Use following form to change your password</h3>
                        {{ form.as_p }}
                            <p><input class="btn btn-default" type="submit" value="change"></p>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>

{% endblock %}